.amazing__store {
  width: var(--width);
  height: 110px;
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 15px;

  .wrapper {
    width: var(--width);
    height: inherit;
    max-width: var(--max-width);
    border-radius: 16px;
    background-color: #eaeeea;

    & a {
      width: var(--width);
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      text-decoration: none;

      .right {
        width: 47%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        .right__3 {
          & div {
            width: 110px;
            height: 30px;
            background-color: #39ae00;
            border-radius: 20px;

            & h5 {
              width: inherit;
              height: inherit;
              color: #f9fbf7;
              font-family: b-nazanin;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              line-height: 30px;
            }
          }
        }
      }

      .center {
        width: 38%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 8px;

        .center__1 {
          position: relative;
          & img {
            width: 75px;
            height: 75px;
            border-radius: 100%;
          }

          .off {
            display: block;
            width: 35px;
            height: 20px;
            background-color: #d32f2f;
            color: #ffffff;
            font-family: b-nazanin;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
            font-weight: bold;
            border-radius: 20px;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }

      .left {
        width: 15%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        & div {
          width: 145px;
          height: 50px;
          background-color: #ffffff;
          border-radius: 50px;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          column-gap: 10px;

          & h5 {
            color: #39ae00;
            font-family: b-nazanin;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
