.digiclub {
  width: var(--width);
  height: 90px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .wrapper {
    width: var(--width);
    max-width: var(--max-width);
    height: inherit;
    border-radius: 20px;
    background-color: #0c7ea0;
    padding: 12px 16px;

    .products {
      display: flex;
      justify-content: space-between;
      .logo {
        width: 145px;
        height: 65px;
        text-align: left;
        line-height: 90px;
      }

      .product {
        width: 815px;
        height: 65px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        & a {
          text-decoration: none;

          & div {
            width: 270px;
            height: inherit;
            background-color: #ffffff;
            border: 2px solid #ffffff;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .text {
              width: 40%;
              height: 61px;
              border: unset;
              padding-right: 16px;
              display: flex;
              align-items: center;

              & h6 {
                font-family: IRAN;
                font-size: 12px;
                font-weight: 100;
                padding-right: 8px;
                color: black;
              }
            }

            .picture {
              width: 60%;
              height: 61px;
              border: unset;

              & img {
                width: var(--width);
                height: inherit;
              }
            }
          }
        }

        .first {
          border-radius: 0 8px 8px 0;
        }

        .last {
          border-radius: 8px 0 0 8px;
          .picture img {
            border-radius: 8px 0 0 8px;
          }
        }
      }
    }
  }
}
